.d1 {
	background-color: rgb(245,240,230);
}

.d2 {
	background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
	background-size: contain;
	color: white;
}
img {
	max-width: 100%;
}
div {
	background-color:rgb(245,240,230);
	width: 100%;
	display: inline-block;

}
p {
	font-size: 28px;
}

ul {
	list-style-type: none;
	position: sticky;
	top: 0;
	padding: 0px;
	max-width: 400px;
	background-color: white;
}

li a{
	background-color: white;
	color: #182b49;
	display: block;
	padding: 12px 8px;
	float: left;
	font-size: 28px;
}
li a:hover{
	background-color: #182b49;
	color: white;
}
.column-space {
	background-color: rgb(245,240,230);
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 25px 25px;
	grid-auto-rows: minmax(auto,500px);
}
.column {
	padding: 12px;
	background-color: #182b49;
	color: white;
	overflow:scroll;
	text-align: center;
}
@media screen and (max-width: 800px){
	li a{
		display:none;
	}
	p{
		font-size: 20px;
	}
	h1{
		font-size: 24px;
	}
	.column-space{
		grid-template-columns: repeat(2,1fr);
	}
}
